:root{
    --base-color: #8aaacc;
    --title-color: #2c3e50;
    --headline-color: white;
    --button-dark: #4a90e2;
    --unknown-status: #4a5a70;
    --complete-stat: #2feb1b;
}
.darkmode{
    --base-color: #617891;
    --title-color: #388fe6;
    --headline-color: black;
    --button-dark: #356193;
    --unknown-status: #829ec6;
    --complete-stat: #69e67e;
}

.concert-grid {
    background-color: var(--base-color);
    padding-bottom: 30px;
    padding-top: 33px;
}

.concert-list {
    float: left;
    padding-left: 25px;
    margin-right: 20px;
}

.concert-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px; 
    padding-left: 30px;
    padding-right: 30px;
}
    
.page-title {
    margin-bottom: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 34px;
    color: var(--title-color);
}

.green {
    color: var(--complete-stat);
    font-size: 2rem;
    padding-left: 30px;
}
        
.cards {
    background-color: var(--title-color);
    color: var(--headline-color);
    border-radius: 20px;
    width: 90%; 
    max-width: 650px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex; 
    align-items: center;
    transition: transform 0.2s;
    margin-bottom: 30px;
}

.unknown {
    color: var(--unknown-status);
    color: var(--headline-color);
}
        
.cards:hover {
    transform: translateY(-5px);
}
        
.cards-image-container {
    border-radius: 10px;
    overflow: hidden;
    height: 100px;
    width: 100px;
    min-width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    background-color: #ff5722;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    font-weight: bold;
    color: var(--headline-color);
}

.cards-info {
    flex-grow: 1;
}
        
.cards-date {
    font-size: 1.1em;
    font-weight: bold;
    color: #50e3c2;
    margin-bottom: 5px;
}
        
.cards-title {
    font-size: 1.4em;
    margin-bottom: 5px;
    font-weight: bold;
}

.cards-location {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 8px;
    font-weight: 300;
}

.cards-status {
    font-size: 0.9em;
    margin-bottom: 10px;
}
        
.status-done {
    color: #50e3c2;
}
        
.status-upcoming {
    color: gold;
}
       
.status-tba {
    color: orange;
}
              
.detail-button {
    background-color: var(--button-dark);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}
        
.detail-button:hover {
    background-color: #3b74c4;
}

#loading-indicator {
    text-align: center;
    padding: 20px;
    font-style: italic;
    color: #888;
}