:root{
    --base-color: #8aaacc;
    --title-color: #2c3e50;
    --headline-color: white;
    --button-dark: #4a90e2;
    --unknown-status: #4a5a70;
    --complete-stat: #2feb1b;
}
.darkmode{
    --base-color: #617891;
    --title-color: #388fe6;
    --headline-color: black;
    --button-dark: #356193;
    --unknown-status: #829ec6;
    --complete-stat: #69e67e;
}

.concert-grid {
    background-color: var(--base-color);
    padding-bottom: 30px;
    padding-top: 33px;
}

.concert-list {
    float: left;
    padding-left: 25px;
    margin-right: 20px;
}

.concert-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: 20px; 
    padding-left: 30px;
    padding-right: 30px;
}
    
.page-title {
    margin-bottom: 30px;
    padding-left: 30px;
    text-align: center;
    font-size: 34px;
    color: var(--title-color);
}

.green {
    color: var(--complete-stat);
    font-size: 2rem;
    padding-left: 30px;
}
        
.cards {
    background-color: var(--title-color);
    color: var(--headline-color);
    border-radius: 20px;
    width: 90%; 
    max-width: 650px; 
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    padding: 20px;
    display: flex; 
    align-items: center;
    transition: transform 0.2s;
    margin-bottom: 30px;
}

.unknown {
    color: var(--unknown-status);
    color: var(--headline-color);
}
        
.cards-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 25%;
    height: 150px;
    width: 150px;
    min-width: 100px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--headline-color);
}

.cards-image-container img{
    position: absolute;
    height: auto;
    width: auto;    
    max-width:100%;
}

.cards-info {
    flex-grow: 1;
}
        
.cards-date {
    font-size: 1.1em;
    font-weight: bold;
    color: #50e3c2;
    margin-bottom: 5px;
}
        
.cards-title {
    font-size: 1.4em;
    margin-bottom: 5px;
    font-weight: bold;
}

.cards-location {
    font-size: 1em;
    color: #ccc;
    margin-bottom: 8px;
    font-weight: 300;
}

.cards-status {
    font-size: 0.9em;
    margin-bottom: 10px;
}
        
.status-done {
    color: #50e3c2;
}
        
.status-upcoming {
    color: gold;
}
       
.status-tba {
    color: orange;
}
              
button {
    background-color: var(--button-dark);
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
    margin-top: 10px;
}
        
button:hover {
    background-color: #3b74c4;
}

.cards .popup-overlay {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it's on top of other content */
}

.cards .popup-content {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  width: 50%;
}

.cards .popup-overlay-2 {
  display: none; /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  z-index: 1000; /* Ensure it's on top of other content */
}

.cards .popup-content-2 {
  background-color: white;
  color: black;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: justify;
  width: 50%;
}

.cards .popup-content h4 {
    padding-top: 13px;
    font-weight: 690;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-content h2{
    margin-bottom: 14px;
}

.modal-content p{
    margin-bottom: 8px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}